<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/santri.jpg" alt="gambar santri" width="200" class="img-thumbnail rounded" />
            <h2 class="display-4">Santri Nurul Hidayah</h2>
            <p class="lead">Para pencari ilmu</p>
        </div>
    </div>
</div>