<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Form Tambah data</h2>

      <!-- untuk mengecek apakah ada errors di ejsnya -->
      <% if (typeof errors !='undefined' ) { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
        </div>
        <% } %>

          <!-- Form contactnya -->
          <form method="post" action="/contact">

            <div class="mb-3">
              <label for="nama" class="form-label">Nama</label>
              <input type="text" class="form-control" name="nama" id="nama" placeholder="Contoh: Delina Munawaroh"
                required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" id="email"
                placeholder="Contoh: delinamunawaroh@gmail.com" required>
            </div>
            <div class="mb-3">
              <label for="nohp" class="form-label">No.Hp</label>
              <input type="text" class="form-control" name="nohp" id="nohp" placeholder="Contoh: 085860568355">
            </div>

            <button type="submit" class="btn btn-danger">Tambahkan</button>
          </form>
    </div>
  </div>
</div>