<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            text-align: center;
            color: pink;
        }
        ul{
            display: flex;
            justify-content: space-evenly;
        }
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>